{% extends "base.html" %}

{% block main %}
    <h2>App Configuration</h2>
    <form method="POST">
        {{ form.hidden_tag() }}

        <div>
            {{ form.discord_webhook.label }}<br>
            {{ form.discord_webhook(size=64) }}<br>
            {% for error in form.discord_webhook.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>

        <div>
            {{ form.notifications_enabled() }}
            {{ form.notifications_enabled.label }}<br>
            {% for error in form.notifications_enabled.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>

        <div>
            <button type="submit">Save</button>
        </div>
    </form>
{% endblock %}
