{% extends "base.html" %}

{% block main %}
    <h2>{{ "Create Camera" if create else "Edit Camera" }}</h2>

    <form method="POST">
        {{ form.hidden_tag() }}

        <div>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>

        <div>
            {{ form.url.label }}<br>
            {{ form.url(size=64) }}<br>
            {% for error in form.url.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>

        <div>
            {{ form.fps.label }}<br>
            {{ form.fps() }}<br>
            {% for error in form.fps.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>

        <div>
            {{ form.width.label }}<br>
            {{ form.width() }}<br>
            {% for error in form.width.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>

        <div>
            {{ form.height.label }}<br>
            {{ form.height() }}<br>
            {% for error in form.height.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>

        <div>
            {{ form.sensitivity.label }}<br>
            {{ form.sensitivity() }}<br>
            {% for error in form.sensitivity.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>

<!--        <div>-->
<!--            {{ form.folder.label }}<br>-->
<!--            {{ form.folder(size=64) }}<br>-->
<!--            {% for error in form.folder.errors %}-->
<!--                <span style="color: red;">{{ error }}</span><br>-->
<!--            {% endfor %}-->
<!--        </div>-->

        <div>
            {{ form.enabled.label }}<br>
            {{ form.enabled }}<br>
            {% for error in form.enabled.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>

        <div>
            {{ form.notifications_enabled.label }}<br>
            {{ form.notifications_enabled }}<br>
            {% for error in form.notifications_enabled.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>

        <div>
            <button type="submit">
                Save
            </button>
        </div>
    </form>
{% endblock %}
